.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding: 4rem;
  min-height: 100vh;
}

.welcome__heading {
  font-size: 3rem;
  color: rgb(128, 128, 128);
  text-align: center;
}

.welcome__date {
  font-size: 1.5rem;
  color: rgba(128, 128, 128, 0.58);
}